.footer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
}
.footer .btn {
  width: 33%;
  text-align: center;
  flex: 1 0;
  border-top: #007aff85 1px solid;
  text-decoration: none;
  color: #333;
  font-size: 0.3rem;
}
.footer .btn .iconfont {
  display: block;
  margin: 0.1rem auto;
  font-size: 23px;
}
.footer .btn.active {
  color: #007aff85;
}
